.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: burlywood;
  border-radius: 10px;
}
img {
  width: 50%;
  border-radius: 10px ;
  
  object-fit: cover;
}
.card-ingredients {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ingredients {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  overflow: hidden;
  background: brown;
  color: white;
  transform: translateX(-10%);
  border-radius: 1em;
}
.recette {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 15px;
}
.recette > a {
  text-align: center;
  width: 100%;
}
header {
  width: 95%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: brown;
  color: white;
  border-radius: 10px;
}
header > h2 {
  margin: 5px 0;
  text-align: center;
}
.div-logo {
  text-decoration: none;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bolder;
  background: brown;
}
.logo {
  margin: 5px;
  width: 5em;
  height: 5em;
  border-radius: 100%;
}
h2 {
  margin: 20px;
  text-align: center;
}
ul{
  padding: 0;
}
footer {
  margin-top: 20px;
  background: brown;
  /* width: 95%; */
  color: white;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
}
footer > .logo {
 width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10em;
}
.logo > img{
width: 3em;
height: 3em;
}
.social{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 25%;
}
.social-logo{
  width: 3em;
  height: 3em;
}
.title2{
  color: brown;
  font-weight: bolder;
}
@media (max-width: 500px){
  .card-ingredients{
    flex-direction: column;
  }
  .card-ingredients > img{
    width: 100% !important;
  }
  .card-ingredients > .ingredients {
    width :80%!important;
    transform: translate(0,-20px) !important;
  }
}