.app{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card{
  display: flex;
flex-wrap: wrap;
  justify-content: space-between;
  background: burlywood;
  border-radius: 10px;
}
img{
  width: 50%;
  border-radius: 10px 0 0 10px;
  border-bottom: solid 2px black;
}
.ingredients{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 2px black;
}
.recette {
  margin-top: 20px;
 width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}