body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header{
  width: 95%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: brown;
  color: white;
  border-radius: 10px;
  margin: 10px;
}
header > h2 {
  margin: 5px 0;
  text-align: center;
}
.app {
  display: flex;
flex-direction: column;
  align-items: center;
}
form {
  width: 50%;
  display: flex;
  flex-direction: column;
  background: burlywood;
  align-items: center;
  justify-content: space-evenly;
  height: 200px;
  border-radius: 5px;
  font-size: 1.5em;
}
input {
  width: 70%;
  text-align: center;
  border-radius: 5px;
  border: none;
  background: brown;
  color: white;
  font-size: 1.5em;
}
input::placeholder {
  color: white;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
  background: grey;
  border-radius: 10px;
}
.card {
  border-radius: 5px;
  background-color: burlywood;
  margin: 20px 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  justify-content: space-around;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30%;
  justify-content: space-evenly;
  padding: 10px;
  width: 100%;
}
img {
  height: 65%;
  width: 98%;
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}

.list-ingredients {
  cursor: pointer;
  text-decoration: underline;
}
.apparition {
  display: none;
}
.apparition2{
  display: flex;
  flex-direction: column;
}
.title {
  text-align: center;
  cursor: pointer;
  background: rgba(201, 98, 8, 0.95);
  color: white;
  width: 9em;
  border-radius: 10px;
  padding: 5px;
  transition: all ease-in-out 0.8s;
}
.title:hover{
  transform: scale(1.2);
}
.div-logo{
  text-decoration: none;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bolder;
  background: brown; 
}
.logo{
  margin: 5px;
  width: 5em;
  height: 5em;
  border-radius: 100%;
}
@media (max-width: 500px)  {
  .div-logo{
    width: 100% !important;
    align-items: center;
  }
  .div-logo > h1 {
    width: 50%;
  }
  #result{
    width: 95%;
    margin: 20px 0;
    padding: 0;
    flex-direction: column !important;
    background: grey;
    align-items: center;
    border-radius: 10px;
  }
  .card {
    width: 90%  !important;
    margin: 10px 0px;
  }
  form{
    width: 95%;
  }
  .title{
    width: 95% !important;
  }
}

h1,h2,h3,p{
  margin: 0;
}
@media (min-width: 500px) and (max-width : 1000px) {
  .card{ 
    width: 45%;
  }
}