h2{
  margin: 0;
}
*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FCE7C0
}
a{
  text-decoration: none;
  color: white;
  cursor: pointer;

}